<div class="content">
  <div class="settings-btn">
    <button class="btn btn-primary" (click)="navigateToSettings()">
      <i class="fa fa-cog" aria-hidden="true"></i> {{lang.settings}}
    </button>
  </div>

  <a class="new-list -cursor-pointer" (click)="newList()" [title]="lang.newlisttitle">
    <i class="fa fa-plus-circle" aria-hidden="true"></i> {{lang.newlist}}
  </a>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item -cursor-pointer" role="presentation" *ngFor="let tab of storage.lists; trackBy: trackByListId">
        <a class="nav-link" 
           (click)="navigateToList(tab.id)" 
           [class.active]="currentListId == tab.id" 
           [title]="lang.switchtolist + ' \'' + tab.title + '\''">
          {{tab.title}}
        </a>
      </li>
    </ul>
  </div>

  <div class="lists">
    <div class="list-content" *ngIf="currentList">
      <h3 class="todolist-title">{{currentList.title}}</h3>
      
      <a class="delete-list -cursor-pointer" 
         (click)="deleteList(currentList.id)" 
         [title]="lang.deletelisttitle">
        <i class="fa fa-trash-o" aria-hidden="true"></i> {{lang.deletelist}}
      </a>

      <p class="priorities">{{lang.priorities}}:
        <span class="priority--1">-1</span>,
        <span class="priority-0">0</span>,
        <span class="priority-1">1</span>,
        <span class="priority-2">2</span>
      </p>

      <form class="todo-form">
        <ul class="todolist">
          <li *ngFor="let todo of currentList.todos; trackBy: trackByTodoId">
            <div class="form-check todo">
              <label class="form-check-label">
                <input type="checkbox" 
                       [checked]="todo.done" 
                       (click)="checkTodo(currentList.id, todo.id)" 
                       class="form-check-input todo-check -cursor-pointer" 
                       [title]="lang.setthistodoas + ' ' + (todo.done | done: lang.open : lang.done)" 
                       name="todo">
                <dt [class.strike]="todo.done" class="todo-name priority-{{todo.priority}}">
                  {{todo.name}}
                  <small class="todo-date" [class.strike]="todo.done">
                    , {{lang.added}}: {{todo.date | date: storage.settings.dateformat : storage.settings.timezone}}
                  </small>
                </dt>
                <dd [class.strike]="todo.done" 
                    *ngIf="todo.notice" 
                    class="todo-notice">{{todo.notice}}</dd>
              </label>
            </div>
          </li>
        </ul>
      </form>

      <a class="remove-ticked -cursor-pointer" 
         (click)="removeTickedTodos(currentList.id)" 
         [title]="lang.removetickedtitle">
        <i class="fa fa-minus-circle" aria-hidden="true"></i> {{lang.removeticked}}
      </a>

      <div class="add-todo">
        <form class="add-form" (ngSubmit)="addTodo()">
          <h5>{{lang.addnewtodoto}} {{currentList.title}}:</h5>
          
          <div class="form-group">
            <label for="todo-name">{{lang.name}}:</label>
            <input type="text" 
                   class="form-control" 
                   [placeholder]="lang.name + '...'" 
                   name="todo-name" 
                   id="todo-name" 
                   [(ngModel)]="addTodoForm.name"
                   required>
            <small id="name-help" class="form-text text-muted">{{lang.namehelp}}.</small>
          </div>
          
          <div class="form-group">
            <label for="todo-notice">{{lang.notice}}:</label>
            <textarea class="form-control" 
                      [placeholder]="lang.notice + '...'" 
                      rows="3" 
                      name="todo-notice" 
                      id="todo-notice" 
                      [(ngModel)]="addTodoForm.notice"></textarea>
            <small id="notice-help" class="form-text text-muted">{{lang.noticehelp}}.</small>
          </div>
          
          <div class="form-group">
            <label for="todo-priority">{{lang.priority}}:</label>
            <select class="form-control" 
                    name="todo-priority" 
                    id="todo-priority" 
                    [(ngModel)]="addTodoForm.priority">
              <option value="0">{{lang.priorityselect}}...</option>
              <option value="2">2</option>
              <option value="1">1</option>
              <option value="0">0</option>
              <option value="-1">-1</option>
            </select>
            <small id="priority-help" class="form-text text-muted">{{lang.priorityhelp}}.</small>
          </div>
          
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> {{lang.add}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
